
body {
  background-color: #72CAF6;
  font-family: 'Nanum Gothic', sans-serif;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

h1 {
  color: white;
  font-size: 50px;
}

label {
  font-size: 30px;
  color: white;
  font-weight: bold;
}

textarea[id=id_review_learning]{
  cursor: pointer;
  width: 800px;
  display: inline-block;
  padding: 12px 20px;
  margin: 8px 0px;
  border: 2px solid grey;
  background-color: #CDE1EB;
  font-size: 20px;
  font-color: black;
  margin-left: 15px;
}

textarea[id=id_struggle]{
  cursor: pointer;
  width: 100%;
  border: 1% solid grey;
  background-color: #CDE1EB;
  font-size: 20px;
  font-color: black;
  box-sizing: border-box;
}

textarea[id=id_plan]{
  cursor: pointer;
  width: 100%;
  display: inline-block;
  margin: 1% 0px;
  border: 1% solid grey;
  background-color: #CDE1EB;
  font-size: 20px;
  font-color: black;
  box-sizing: border-box;
}

input[class=search-button]{
  width: 500px;
}

input[id=search]{
  border: none;
  color: white;
  padding: 12px 20px;
  text-decoration: none;
  cursor: pointer;
  width: 500px;
  font-size: 20px;
  background-color: orange;
}

input[id=search]:hover {
  background-color: #ff8d00;
}

input, textarea {
  width: 85%;
  padding: 3% 3%;
  margin: 1% 0%;
  border: 1% solid grey;
  background-color: #CDE1EB;
  font-size: 15px;
  font-color: black;
  resize: none;
}

input[id=id_code_screen_shot] {
  height: 5%;
  width: 100%;
}

input[id=id_title] {
  width: 90%;
}

input[type=file] {
  font-color: black;
}

textarea {
  width: 300px;
  height: 120px;
}

input[id=submit]{
  background-color: #f6520a;
  border: none;
  color: white;
  padding: 12px 20px;
  text-decoration: none;
  cursor: pointer;
  font-size: 30px;
  margin-top: 80px;
  border-radius: 5px;
  width: 50%;
  margin-left: 25%;
}

input[id=submit]:hover {
  background-color: #d80000;
}

input[id=submit-complete]{
  background-color: yellow;
  border: none;
  color: #003366;
  padding: 12px 20px;
  text-decoration: none;
  margin-top: 50px;
  cursor: pointer;
  font-size: 20px;
  margin-top: 80px;
  border-radius: 5px;
}


input[id=id_frustration_level] {
  width: 150%;
  height: 80%;
}

input[id=id_learning_level] {
  width: 750px;
  height: 20px;
}

#id_struggle_in_progess-span * {
  visibility: hidden;
}

input#id_struggle_in_progess + label::after {
  visibility: visible;
  content: "💥 🌪 Click to complete your struggle? 😭 ☄️";
  color: yellow;
  background:  #003366;
  padding: 8px;
  font-size: 60px;
  border-radius: 5px;
  border: 2px solid yellow;
  border-style: dotted;
}

input#id_struggle_in_progess:checked + label::after {
  content: "🎖 🎺 What a relief! 🌤 💫";
  color: yellow;
  background:  #003366;
  font-size: 60px;
  border-radius: 5px;
  border: 2px solid yellow;
  border-style: dotted;
}

.frustration-level {
  padding-right: 20px;
  width: 100%;
}

.learning-level {
  padding-right: 20px;
}

.review-learning {
  width: 600px; 
}

.struggle-updates-section {
  background-color: #003366;
  border-radius: 25px;
  padding-bottom: 50px;
  padding-top: 50px;
  margin-right: 40px;
  border: 2px solid yellow;
  border-style: dotted;
  float: right;
  height: 100%;
}

.struggles-in-progress {
  padding-left: 50px;
  padding-bottom: 50px;
  margin-bottom: 90px;
  margin-right: 60px;
  border-radius: 25px;
}

.struggles-in-progress h2 {
  font-size: 50px;
  color: white;
  text-shadow: 2px 2px #fff400;
  margin-bottom: 3%;
}

.struggles-in-progress a {
  font-size: 30px;
  margin-bottom: 0px;
  text-decoration: none;
}

.struggles-in-progress a:hover {
  color: yellow;
}

.struggles-in-progress a, p, li {
  list-style: none;
}

.struggles-in-progress a{
  color: yellow;
}

.struggles-in-progress p {
  color: white;
  display: inline;
  font-size: 20px;
}

.struggles-in-progress-link {
  border-radius: 25px;
  border: 2px solid yellow;
  border-style: dotted;
}

.struggles-in-progress-link li:hover{
  background-color: #f97115;
  border-radius: 25px;
}

.filter-struggle {
  margin-left: 10%;
  margin-top: 15%;
  display: inline-block;
  width: 30%;
  height: 40%;
}

.filter-struggle h1 {
  text-shadow: 2px 2px orange;
}

.filter-enter h1 {
  padding-left: 30px;
}

.filter-page {
  padding-left: 50px;
  padding-bottom: 50px;
  border-radius: 25px;
  background-color: #003366;
  margin-left: 0px;
  height: 95%;
}

.struggles-list {
  background-color: #003366;
  float: right;
  height: 100%;
  width: 50%;
  padding: 10px;
  padding-top: 20px;
  padding-left: 2%;
}

.struggles-list a {
  font-size: 30px;
  margin-bottom: 0px;
  text-decoration: none;
  color: #a1f60a;
}

.struggles-list a, p, li {
  list-style: none;
}

.struggles-list p {
 display: inline;
}

.struggles-list h1{
 text-align: center;
 text-shadow: 2px 2px green;
}

.struggles-list-link {
  border-radius: 25px;
  border: 2px solid yellow;
  border-style: dotted;
  width: 95%;
  display: block;
  float: right;
  margin-right: 25px;
  margin-left: 25px;
}

.struggles-list-link li:hover{
  background-color: green;
  border-radius: 25px;
}

.completed-struggles {
  padding-left: 10%;
}

.completed-struggles li {
  margin-left: 2%;
}


.completed-struggles a {
  font-size: 40px;
  color: #a1f60a;
  margin-top: 20px;
  margin-bottom: 0px;
  text-decoration: none;
  background-color: #003366;
  padding:1%;
  border-radius: 25px;
  border: 2px solid #a1f60a;
  border-style: dotted;
  text-decoration: none;
}

.completed-struggles a:hover {
  background-color: green;
}

.completed-struggles h2 {
  font-size: 50px;
  color: white;
  margin-bottom: 0px;
  text-shadow: 2px 2px green;
  margin-bottom: 3%;
}

.left-of-initial-form {
  padding: 2%;
  margin-left: 10%;
  width: 100%;
  height: 100%
}

.enter-struggle-table {
  display: inline-block
  border-style: dotted;
  border-color: red;
  border-radius: 4%;
  background-color: #003366;
  width: 45%;
  margin-top: 2%;
  margin-left: 2%;
}

.enter-struggle-table h1 {
  font-size: 50px;
  text-align: center;
  text-shadow: 2px 2px #ff0000;
  width: 100%;
}

.enter-struggle-table tr td label {
  text-shadow: 2px 2px #ff0000;
}

.struggle-details-review-heading h1{
  color: white;
  font-size: 40px;
  text-align: left;
  padding-left: 20px;
}

#date {
  margin-top: 30px;
}

.struggle-details-on-review-page p {
  color: white;
  font-size: 25px;
}

.struggle-details-on-review-page {
  margin: 20px;
}

.struggle-details-on-review-page td {
  padding-right: 30px;
  vertical-align: top;
}

.struggle-details-on-review-page {
  padding: 20px;
}

.struggle-details-on-review-page table tr td h2 {
  font-size: 35px;
  color: #003366;
}

.struggle-reviewing-details {
  background-color: #003366;
  padding-left: 30px;
  padding-bottom: 10px
}

.struggle-reviewing-details table tr td h1 {
  text-align: left;
  font-size: 50px;
  padding-left: 30px;
}

.struggle-reviewing-details-spaceing-right-table div {
  padding-left: 50px;
}

.struggle-review-details-heading {
  height: 20px;
}

.struggle-details-heading {
  width: 60%;
  font-size: 60px;
  text-align: left;
  color: white;
  margin-top: 1%;
  margin-left: 1%;
  padding-top: 2%;
  padding-left: 3%;
  display: inline-block;
}

.struggle-detail {
  width: 60%;
  margin: 1%;
  margin-left: 2%;
  padding: 2%;
  display: inline-block;
  padding-top: 2%;
}

img {
  width: 85%;
  height: 55%;
}

.struggle-detail h2 {
  font-size: 45px;
  padding-bottom: 10px;
  color: #003366;
  display: inline;
}

.struggle-detail p {
  font-size: 25px;
  padding-bottom: 10px;
  color: white;
  width: 90%;
}

.struggle-detail-data {
  display: inline-block;
  vertical-align: top;
  background-color: #003366;
  border-radius: 25px;
  border: 2px solid  #3ab81d;
  border-style: dotted;
  width: 450px;
  height: 700px;
  float: right;
  margin-right: 9%;
  margin-top: 6%;
}

.struggle-detail-data h2 {
  font-size: 50px;
  color: white;
  margin-bottom: 0px;
  text-shadow: 2px 2px #3ab81d;
  text-align: center;
}

.struggle-detail-data p {
  font-size: 50px;
  color: #3ab81d;
  margin: 0px;
  text-align: center;
  font-weight: bold;
}

.all-struggle-details {
  width: 95%;
}

.struggle-wrapper {
  width: 100%;
}

.struggle-detail {
  .no-screen-shot {
    padding-left: 30%;
    padding-right: 30%;
    color: white;
  }
}

.errors {
  color: red;
  list-style-type: none;
}

@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
}