
body {
  background-color: #9C8B91;
  font-family: 'Nanum Gothic', sans-serif;
  margin: 0px;
  padding: 0px;
}

p {
  color: white;
  display: inline;
  font-size: 20px;
  width: 400px;
}

h1 {
  color: white;
  font-size: 60px;
}

label {
  font-size: 25px;
  color: white;
  font-weight: bold;
}

textarea[id=id_review_learning]{
  cursor: pointer;
  width: 800px;
  display: inline-block;
  padding: 12px 20px;
  margin: 8px 0px;
  border: 2px solid grey;
  background-color: #CDE1EB;
  font-size: 20px;
  font-color: black;
  margin-left: 15px;
}

input[class=search-button]{
  width: 500px;
}

input[id=search]{
  border: none;
  color: white;
  padding: 12px 20px;
  text-decoration: none;
  cursor: pointer;
  width: 500px;
  font-size: 20px;
  background-color: #9C8B91;
}

input[id=search]:hover {
  background-color: #8A7C81;
}

input, textarea {
  display: block;
  width: 300px;
  padding: 12px 20px;
  margin: 4px 0px;
  border: 2px solid grey;
  background-color: #f9e2ca;
  font-size: 15px;
  font-color: black;
}

input[type=file] {
  font-color: black;
}

textarea {
  width: 300px;
  height: 120px;
}

input[id=submit]{
  background-color: #f6520a;
  border: none;
  color: white;
  padding: 12px 20px;
  text-decoration: none;
  margin-top: 50px;
  cursor: pointer;
  font-size: 20px;
  display: inline-block;
  margin-top: 80px;
  border-radius: 5px;
}

input[id=submit]:hover {
  background-color: #d80000;
}

input[id=submit-complete]{
  background-color: yellow;
  border: none;
  color: #003366;
  padding: 12px 20px;
  text-decoration: none;
  margin-top: 50px;
  cursor: pointer;
  font-size: 20px;
  display: inline-block;
  margin-top: 80px;
  border-radius: 5px;
}


input[id=id_frustration_level] {
  width: 550px;
  height: 20px;
}

input[id=id_learning_level] {
  width: 750px;
  height: 20px;
}

#id_struggle_in_progess-span * {
  visibility: hidden;
}

input#id_struggle_in_progess + label::after {
  visibility: visible;
  content: "💥 🌪 Click to complete your struggle? 😭 ☄️";
  color: yellow;
  background:  #003366;
  padding: 8px;
  font-size: 60px;
  border-radius: 5px;
  border: 2px solid yellow;
  border-style: dotted;
}

input#id_struggle_in_progess:checked + label::after {
  content: "🎖 🎺 What a relief! 🌤 💫";
  color: yellow;
  background:  #003366;
  font-size: 60px;
  border-radius: 5px;
  border: 2px solid yellow;
  border-style: dotted;
}

.frustration-level {
  padding-right: 20px;
}

.learning-level {
  padding-right: 20px;
}

.review-learning {
  width: 600px; 
}

.struggle-updates-section {
  background-color: #003366;
  border-radius: 25px;
  padding-bottom: 50px;
  padding-top: 50px;
  margin-left: 40px;
  border: 2px solid yellow;
  border-style: dotted;
}

.struggles-in-progress {
  padding-left: 50px;
  padding-bottom: 50px;
  margin-bottom: 90px;
  margin-right: 60px;
  border-radius: 25px;
}

.struggles-in-progress h2 {
  font-size: 50px;
  color: white;
  margin-bottom: 0px;
  text-shadow: 2px 2px #fff400;
}

.struggles-in-progress a {
  font-size: 30px;
  margin-bottom: 0px;
  text-decoration: none;
}

.struggles-in-progress a:hover {
  color: yellow;
}

.struggles-in-progress a, p, li {
  list-style: none;
}

.struggles-in-progress a{
  color: yellow;
}

.struggles-in-progress-link {
  border-radius: 25px;
  border: 2px solid yellow;
  border-style: dotted;
}

.struggles-in-progress-link li:hover{
  background-color: #f97115;
  border-radius: 25px;
}

.filter-enter {
  padding-left: 35%;
}

.filter-enter h1 {
  padding-left: 30px;
}

.filter-struggles {
  padding-left: 50px;
  padding-bottom: 50px;
  border-radius: 25px;
  background-color: #003366;
  border-radius: 25px;
  margin-left: 0px;
  border: 2px solid yellow;
  border-style: dotted;
  height: 95%;
}

.struggle-list {
  width: 50%;
}

.struggles-list h2 {
  font-size: 50px;
  color: white;
  margin-bottom: 0px;
  text-shadow: 2px 2px #fff400;
}

.struggles-list a {
  font-size: 30px;
  margin-bottom: 0px;
  text-decoration: none;
  color: #a1f60a;
}

.struggles-list a, p, li {
  list-style: none;
}

.struggles-list-link {
  border-radius: 25px;
  border: 2px solid yellow;
  border-style: dotted;
  width: 40%;
  margin-left: 30%;
}

.struggles-list-link li:hover{
  background-color: green;
  border-radius: 25px;
}

.completed-struggles-link {
  padding-left: 10%;
}

.completed-struggles-link a {
  font-size: 40px;
  color: #a1f60a;
  margin-top: 20px;
  margin-bottom: 0px;
  text-decoration: none;
  background-color: #003366;
  padding:10px;
  border-radius: 25px;
  border: 2px solid #a1f60a;
  border-style: dotted;
  text-decoration: none;
}

.completed-struggles-link a:hover {
  background-color: green;
}

.left-of-initial-form {
  float: left;
  padding: 20px;
  margin-top: 90px;
  margin-bottom: 90px;
  height: 80%;
  margin-left: 150px;
}

.enter-struggle-table {
  margin: 20px;
  padding: 10px;
  float: left;
  border-style: dotted;
  border-color: red;
  border-radius: 25px;
  background-color: #003366;
}

.enter-struggle-table td {
  padding-left: 10px;
}

.enter-struggle-table h1 {
  text-align: center;
  padding-top: 20px;
  text-shadow: 2px 2px #ff0000;
}

.enter-struggle-table tr td label {
  text-shadow: 2px 2px #ff0000;
}

.struggle-details-review-heading h1{
  color: white;
  font-size: 40px;
  text-align: left;
  padding-left: 20px;
}

#date {
  margin-top: 30px;
}

.struggle-details-on-review-page p {
  color: white;
  font-size: 25px;
}

.struggle-details-on-review-page {
  margin: 20px;
}

.struggle-details-on-review-page td {
  padding-right: 30px;
  vertical-align: top;
}

.struggle-details-on-review-page {
  padding: 20px;
}

.struggle-details-on-review-page table tr td h2 {
  font-size: 35px;
  color: #003366;
  /*font-weight: bold;*/
}

.struggle-reviewing-details {
  background-color: #003366;
  padding-left: 30px;
  padding-bottom: 10px
}

.struggle-reviewing-details table tr td h1 {
  text-align: left;
  font-size: 50px;
  padding-left: 30px;
}

.struggle-reviewing-details-spaceing-right-table div {
  padding-left: 50px;
}

.struggle-review-details-heading {
  height: 20px;
}

.struggle-details-heading {
  font-size: 50px;
  text-align: center;
  width: 100%;
  padding-left: 30%;
  color: white;
}

.struggle-detail {
  margin: 20px;
  padding: 20px;
}

.struggle-detail {
  margin: 20px;
  padding: 20px;
}

.struggle-detail tr td h2 {
  font-size: 30px;
  display: inline;
  padding-bottom: 10px;
  color: white;
}

.struggle-detail tr td h1 {
  display: inline;
  padding-bottom: 10px;
  color: white;
}

.struggle-detail tr td {
  padding-right: 15px;
  padding-bottom: 10px;
}

.no-screen-shot {
  padding-left: 30%;
  padding-right: 30%;
  color: black;
}

.errors {
  color: red;
  list-style-type: none;
}
