{% load staticfiles %}

<html lang="en">
<head>
    <title>Struggle here</title>
    <script type="text/javascript" src="{{ STATIC_URL }} /static/javascript/struggle.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/struggle.css' %}">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 
    
    <script>
    </script>
</head>
<body>
	<div>
		<table class="struggle-detail">
			<tr>
				<td colspan="2"><h1 class="struggle-details-heading">{{ object.title }}</h1></td>
			</tr>
			<tr>
				<td><h2>Time started: </h2><p>{{ object.time_started }}</p></td>
				<td><h2>Time ended: </h2><p>{{ object.time_ended }}</p></td>
			</tr>
			<tr>
				<td><h2>Struggle:</h2><br><p>{{ object.struggle }}</p></td>
				<td>
					<table>
						<tr>
							<td>
								<h2>Frustration Level:</h2><p>{{ object.frustration_level }}</p>
							</td>
							<td>
								<h2 class="learning-level">Learning Level:</h2><p>{{ object.learning_level }}</p>
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<span><h2>URL link: </h2><p><a href="{{ object.helpful_link }}">{{ object.helpful_link }}</a></p></span>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td><h2>Plan:</h2><br><p>{{ object.plan }}</p></td>
				<td><h2>Review Learning:</h2><br><p>{{ object.review_learning }}</p>
			</tr>
			<tr>
				<td>
					<h2>Screen shot:</h2>
				</td>
				<td>
					<h2>Updated screen shot:</h2>
				</td>
			</tr>
			<tr>
				<td>
					{% if object.code_screen_shot %}
						<img src="{{ object.code_screen_shot.url }}" alt="code screen shot" width=700" height="420">
					{% else %}
						<p class="no-screen-shot">No screen shot</p>
					{% endif %}
				</td>
				<td>
					{% if object.code_screen_shot_update %}
						<img src="{{ object.code_screen_shot_update.url }}" alt="code screen shot update" width=700" height="420">
					{% else %}
						<p class="no-screen-shot">No screen shot</p>
					{% endif %}
				</td>
			</tr>
		</table>
	</div>
</body>
</html>










