{% load staticfiles %}
<html lang="en">
<head>
    <title>Struggle here</title>
    <script type="text/javascript" src="{{ STATIC_URL }} /static/javascript/struggle.js"></script>
    <link rel="stylesheet" href="{% static 'css/struggle.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/struggle.css' %}">

    <script>
    </script>
</head>
<body>
  <table>
    <tr>
      <td><h1>Enter struggle</h1></td>
      <td><h1>Search struggle</h1></td>
    </tr>
    <tr>
      <td>
        <div class="width">
          {% if form.errors %}
            <p class="errors">
              Please correct the error{{ form.errors|pluralize }} below.
            </p>
          {% endif %}
    
          <form action="{% url 'struggles_input' %}" method="post" enctype="multipart/form-data">
            <ul class="field">
              <li>
                {{ form.date.errors }}
                    <label for="id_date">Date:</label>
                {{ form.date }}
              </li>
              <li>
                {{ form.title.errors }}
                    <label for="id_title">Title:</label>
                {{ form.title }}    
              </li>
            </ul>
            <ul class="field">
              <li>
                 {{ form.struggle.errors }}
                    <label for="id_struggle">Struggle:</label>
                 {{ form.struggle }}
              </li>    
              <li>
                 {{ form.plan.errors }}
                    <label for="id_plan">Plan:</label>
                 {{ form.plan }}
              </li>
            </ul>
            <ul class="field">
              <div class="slidecontainer">
                  <li>
                    {{ form.frustration_level.errors }}
                       <label for="id_frustration_level">Frustration levels (0 to 10):</label>    
                    {{ form.frustration_level }}
                  </li> 
              </div>
              <div class="slidecontainer">
                   <li>
                    {{ form.time_off_task.errors }}
                        <label for="id_time_off_task">Time off task (0 to 10):</label>
                    {{ form.time_off_task }}
                  </li>
              </div>
            </ul>
            <ul class="field">
              <li>
                {{ form.code_screen_shot.errors }}
                    <label for="id_code_screen_shot">Upload your code here:</label>
                {{ form.code_screen_shot }}
              </li>
              <li>
                 {% csrf_token %}
                <input id="submit" type="submit" value="Submit">
              </li>
            </ul>
          </form>
         </div>
       </td>
      <td>
        <div class="search">
          {% if errors %}
            <ul>
              {% for error in errors %}
                <li>{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %} 
          <form  action="{% url 'struggles_search' %}" method="get">
            <input class="search-button" type="text" name="q">
            <input id="search" class="search-button" type="submit" value="Search">
          </form>
        </div>
        {% if searching %}
          <div class="display">
            <h1 class="display-heading">View struggle</h1>
            <p>You searched for: <strong>{{ query }}</strong></p>
     
            {% if struggles %}           
              <p>Found {{ struggles|length }} struggle{{ struggles|pluralize }}</p>
              <ul>               
                {% for struggle in struggles %}               
                   <a href="{% url 'struggle-detail' pk=struggle.pk %}"><li>{{ struggle.title }}</li></a>           
                {% endfor %}           
              </ul>       
            {% else %}           
              <p>No struggles matched your search criteria.</p>       
            {% endif %}    
          </div>
        {% endif %}
      </td>
    </tr>
  </table>
</body>
</html>
