{% load staticfiles %}

<html lang="en">
<head>
  <title>Struggle here</title>
  <script type="text/javascript" src="{{ STATIC_URL }} /static/javascript/struggle.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/struggle.css' %}">
  <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 
  
  <script>
  </script>
</head>
<body>
	<div class="struggle-details-on-review-page">
		<table>
			<tr>
				<td>
					<h1 id="struggle">{{ object.title }}</h1>
				</td>
				<td colspan="3">
					<h2 id="date">{{ object.time_started }}</h2>
				</td>
			</tr>
			<tr>
				<td>
					<h2>Screen shot:</h2>
					{% if object.code_screen_shot  %}
						<img src="{{ object.code_screen_shot.url }}" alt="code screen shot" width=700" height="420">
					{% else %}
						<p>No screen shot</p>
					{% endif %}
					<h2>Frustration Level: {{ object.frustration_level }}</h2>
				</td>
				<td colspan="3">
					<h2>Struggle:</h2><p>{{ object.struggle }}</p>
					<h2>Plan: </h2><p>{{ object.plan }}</p>
				</td>
			</tr>
		</table>
	</div>
	<div class="struggle-reviewing-details">
		<form action="{% url 'struggle-complete' pk=object.pk %}" method="post" enctype="multipart/form-data">
			<table>
				{{ form.time_started.as_hidden }}
    		{{ form.plan.as_hidden }}
    		{{ form.code_screen_shot.as_hidden }}
        {{ form.struggle.as_hidden }}
        {{ form.frustration_level.as_hidden }}
        {{ form.title.as_hidden }}
				<tr>
					<td colspan="3">
						<h1>
							<span id="id_struggle_in_progess-span">
		    				{{ form.struggle_in_progess }}
		    				<label for="id_struggle_in_progess"></label>
		    			</span>
						</h1>
		    	</td> 
		    </tr>
		  	<tr>
		      <td colspan="3">
		        {% if form.errors %}
		          <p class="errors">Please correct the error below.{{ form.errors }}.</p>
		        {% endif %}
		      </td>
		    </tr>
		    <tr>
		    	<td>
		    		<table class="struggle-reviewing-details">
							<tr>
								<td colspan="2">
					        {{ form.review_learning.errors }}<br>
					          <label for="id_review_learning">Review learning:</label><br>
					        {{ form.review_learning }}
					      </td>
							</tr>
						</table>
						<table class="struggle-reviewing-details">
			        <tr>
			          <td colspan="2" class="learning-level"> 
			            {{ form.learning_level.errors }}<br>
			            <label for="id_learning_level">Learning levels (0 to 10):</label>
			          </td>
			        </tr>
			        <tr>
			          <td>👎</td>
			          <td class="learning-level">
			            {{ form.learning_level }}
			          </td>
			          <td>👍 </td>
			        </tr>
			    	</table>
		    	</td>
		    	<td colspan="2">
			    	<table>
			    		<tr class="struggle-reviewing-details-spaceing-right-table">
			    			<td>
			    				<div>
			    					{{ form.time_ended.errors }}<br>
					          <label for="id_time_ended">Completed time:</label><br>
					        	{{ form.time_ended }}
			    				</div>
			    			</td>
			    			<td>
			    				<div>
			    					{{ form.code_screen_shot_update.errors }}<br>
					          <label for="id_code_screen_shot_update">Code screen shot:</label><br>
					        	{{ form.code_screen_shot_update}}
			    				</div>	
			    			</td>
			    			<td></td>
			    		</tr>
			    		<tr class="struggle-reviewing-details-spaceing-right-table">
			    			<td>
			    				<div>
			    					{{ form.helpful_link.errors }}<br>
					          <label for="id_helpful_link">Helpful link:</label><br>
					       		{{ form.helpful_link }}
			    				</div>
			    			</td>
			    			<td>
			    				<div>
			    					{% csrf_token %}
					        	<input id="submit-complete" type="submit" value="Submit">
			    				</div>
					    	</td>
			    		</tr>
			    	</table>
			    </td>
		    </tr>
			</table>
		</form>
	</div>
</body>
</html>

